{% extends "base.html.twig" %}

{% block title %} Commerce entre équipes de football {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/jstable.css') }}">
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('dist/jstable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('dist/jstable.es5.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('dist/polyfill-fetch.min.js') }}"></script>
{% endblock %}

{% block body %}

    {#% include 'front/header.html.twig' with {'homepage_active': true} %#}

    <div class="container-fluid">
        <div class="row">
            <!--
            <div class="col-lg-5 input-search">
                {#% include 'front/price_comparison/form/_form_comparison.html.twig' %#}
                {#% if (isPost is defined) %#}
                {#%
                    include 'front/price_comparison/product.html.twig'
                    with
                    {
                        'price'    : price,
                        'minPrice' : minPrice,
                        'product'  : product
                    }
                %#}
                {#% endif %#}
            </div> -->

            <div class="col-lg-12">
                <div class="row">
                    <div class="card-body">
                        <div class="table-responsive" id="table-responsive">
                            <table id="basic">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>Date</th>
                                    <th>Number</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Norman Small</td>
                                    <td>Tokelau</td>
                                    <td>2020-02-01 07:22:40</td>
                                    <td>8243</td>
                                </tr>
                                </tbody>
                            </table>
                            {#%
                                include 'front/price_comparison/datatables/adverse_sellers.html.twig'
                                with {'listProductSellers': listProductSellers is defined ? listProductSellers : []}
                            %#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
      let myTable = new JSTable("#basic");
        /*$('form').on('submit', function (e) {
            if (controlFieldInForm(this) == true) {
                this.submit();
            }

            return false;
        });*/

    </script>

{% endblock %}
