<div class="modal fade" id="modal-noneplayer-available">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Aucun joueur disponible</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Vous n'avez aucun joueur disponible à vendre
                </p>
            </div>
        </div>
    </div>
</div>